<ol class='items-list'>
  {{#each spells as |spells spellLevel|}}
    <li class='item flexrow items-header'>
      <div class='item-name'>
        {{localize 'SWORDS_WIZARDRY.CharacterSheet.Spells.SpellLVL' level=spellLevel}}
      </div>
      <div class="item-name">
        {{localize 'SWORDS_WIZARDRY.CharacterSheet.Spells.Prepared'}}
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-create'
          title='{{localize "SWORDS_WIZARDRY.CharacterSheet.Spells.Table.Create" type='Spell'}}'
          data-type='spell'
          data-spell-level='{{spellLevel}}'
        >
          <i class='fas fa-plus'></i>
          {{localize 'SWORDS_WIZARDRY.CharacterSheet.Spells.AddLVL' level=spellLevel}}
        </a>
      </div>
    </li>
    {{#each spells as |item id|}}
      <li class='item flexrow' data-item-id='{{item._id}}'>
        <div class='item-name flexrow'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='item'><img
                src='{{item.img}}'
                title='{{item.name}}'
                width='24'
                height='24'
              /></a>
          </div>
          
          <h4>{{item.name}}</h4>
           <a
            class='item-control item-prepare'
            title='{{localize "SWORDS_WIZARDRY.CharacterSheet.Spells.Table.Update" type='spell'}}'
          >
            <i class="fas {{#if item.system.prepared }}fa-check{{else}}fa-times{{/if}}"></i>
          </a>
        </div>
        <div class='item-controls'>
          <a
            class='item-control item-edit'
            title='{{localize "SWORDS_WIZARDRY.CharacterSheet.Spells.Table.Update" type='spell'}}'
          >
            <i class='fas fa-edit'></i>
          </a>
          <a
            class='item-control item-delete'
            title='{{localize "SWORDS_WIZARDRY.CharacterSheet.Spells.Table.Delete" type='spell'}}'
          >
            <i class='fas fa-trash'></i>
          </a>
        </div>
      </li>
    {{/each}}
  {{/each}}
</ol>